# Python/Django
__pycache__/
*.py[cod]
*.log
*.sqlite3
local_settings.py

# Static/media (не версионировать STATIC_ROOT и сборки)
web/staticfiles/
static/build/
media/

# Node/Tailwind
node_modules/
web/node_modules/
.pnpm-debug.log*
npm-debug.log*
yarn-*.log
*.map
.vite/
dist/

# Tailwind бинарь и папка (если НЕ храните через LFS)
tailwindcss/
web/tailwindcss/
tailwindcss-linux-x64
web/tailwindcss-linux-x64

# IDE/OS
.vscode/
.DS_Store

# Secrets
.env
